# CSC111 Project 2: Required Python libraries.

# Testing and code checking
python-ta~=2.7.0
hypothesis
pytest

# Graphics and data visualization
matplotlib == 3.8.3
basemap == 1.4.1

# Data Gathering
beautifulsoup4 == 4.12.3
playwright == 1.42.0
