# CSC111 Winter 2024: Python libraries we'll be using this semester.

# Testing and code checking
python-ta~=2.7.0

# Graphics and data visualization
matplotlib == 3.8.3
basemap == 1.4.1

# Data Gathering
beautifulsoup4 == 4.12.3
playwright == 1.42.0
